@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Assistant', 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2C2E27;
    background: #FDFDFD;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.postsList {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0 2rem;
    max-width: 80rem;
}

.postsList__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.postsList__item .map-container {
    aspect-ratio: 16/9;
    border-radius: 8px;
    position: relative;
    min-width: 100%;
}

.postsList__item .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.postsList__pagination {
    margin: 2rem auto;
}

.filter-menu {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 80%;
    max-width: 70rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}

.sorting-selector-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5em;
    margin: 2rem 0;
    font-weight: 500;
    font-size: 1.1em;
}

.selector-container {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    font-weight: 500;
    font-size: 1.1em;
    width: 100%;
}

.author-filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 1.1em;
}

.MuiPaper-root .css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0 !important;
}

.MuiPaper-root .css-6hp17o-MuiList-root-MuiMenu-list .MuiMenuItem-root.Mui-selected {
    background-color: #FDFDFD !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #00457C !important;
}

@media screen and (max-width: 600px) {
    .postsList {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .filter-menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
    }
}


